@import 'src/semantic';
@import "./login-form.less";

.loading-message {
  text-align: center;
  color: #aaa;
}
.exit-btn {
  cursor: pointer;
}
// Examples application template
#example-with-submenu {
  padding-top: 40px;

  .flexberry-submenu .item {
    padding-right: 0;
    > .menu {
      margin-right: -2px;
    }
  }

  .flexberry-content {
    position: relative;
    padding: 0;

    &.segment {
      box-shadow: none;
      border: none;
    }
  }
}

.ui.form .field > .field {
  margin-bottom: 0;
}

#example {
  .flexberry-content {
    padding: 1em 0;
  }
}

#example-mobile {
  .flexberry-content {
    padding: 4em 10px 2em 10px;
    border-bottom: none;
  }
}

.flexberry-word-break {
  word-break: break-all !important;
}

.ui.menu.mobile:not(.inverted) .item, .ui.menu.mobile .ui.selection.dropdown, .ui.menu.mobile .ui.selection.visible.dropdown > .text:not(.default) {
    color: rgba(255, 255, 255, 0.9)!important;
}
