@import "./login-form.less";

.loading-message {
  text-align: center;
  color: #aaa;
}
.ui.attached.menu {
  background: #4f73b0 !important;
}
.flexberry-content {
  background: #a3cef9 !important;
}
.footer {
  background: #e0e1e2 !important;
}
