@import 'src/semantic';
@import "login-form.less";
@import "node_modules/ember-flexberry/addon/styles/addon";

.spinner {
  background: url('/assets/images/nyan.gif') no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.loading-message {
  text-align: center;
  color: #aaa;
}
.exit-btn,
&.page-header-caption {
  cursor: pointer;
}

#example {
  .flexberry-content {
    padding: 1em 0;
    height: 100%;
  }

  .full.height {
    width: 100%;
    transition: width 0.3s ease-in-out 0s;
  }
}

#example-mobile {
  .flexberry-content {
    padding: 0px 10px 2em 10px;
    border-bottom: none;
    height: 100%;
  }
}
